body {
  background: #000 url('http://msisto.github.io/megahelth/images/bg.gif');
  font-size: 24px;
  font-weight: bold;
  color: #f00;
  text-align: center;
}

a {
  color: #fff;
}

.page-content {
  
}